.App {
  text-align: center;
}

.app-image {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin-animation 2s infinite;
  }
}

.app-filler {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.coming-soon-text {
  font-size: 40pt;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-filler {
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  animation: glowing 20s linear infinite;
  background-size: 400%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}